//RESET CSS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //=10px;
  color: $color-black;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 1.7rem;
  min-height: 100vh;
  background: #fff;
}

a {
  text-decoration: none;
}

p {
  line-height: 145%;
}


h2 {
  font-size: 4rem;
  font-weight: normal;
  color: $color-primary;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2.7rem;
  color: $color-primary;
}

section {
  padding: 9rem 0;
}
//UTILITIES

.text-relative {
  position: relative;
  z-index: 1;
}

.center-text {
  text-align: center;
}

//ADDED CLASSES


