.main-header {
  flex: 1;
  position: relative;
  //background: mediumseagreen;
  background: lighten(#48dbfb, 20%);
  height: 100vh;
  padding-top: 3rem;
  width: 100%;
}

.nav {
  max-width: 120rem;
  padding: .5rem .5rem;
  //background: mediumseagreen;
  background: lighten(#48dbfb, 20%);
  //background: #48dbfb;

  //MOBILE NAV
  @media only screen and(max-width: 767px) {
    padding-top: 1rem;
    background: whitesmoke;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#showcase {
  text-align: center;

  @media only screen and(max-width: 768px) {
    margin-top: 9rem;
  }
}

#home {

  .section-about {
    padding: 10rem 0;
  }

  .section-skills {
    padding: 10rem 0;

    .skills-header {
      padding: 2.7rem 0 1rem 0;

      &--first {
        padding-top: 0;
      }
    }

  }
}

footer {
  background: #aceffd;
  color: $color-primary;
  padding: 3rem 0;
}
